name: Build and Publish JAR

on:
  push:
    branches:
      - 'ver/1.20'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: 'ver/1.20'  # Specify the branch name

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'  # Specify Java version 17

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Apply Patches
        run: ./gradlew applyPatches

      - name: Create Reobf Paperclip JAR
        run: ./gradlew createReobfPaperclipJar

      - name: Get JAR file name
        id: jar_name
        run: echo "::set-output name=jar_name::$(ls -1 builds/libs/*paperclip*.jar)"

      - name: Extract version from JAR file name
        id: version
        run: echo "::set-output name=version::$(echo ${{ steps.jar_name.outputs.jar_name }} | sed -n 's/.*-\([^-]*\)-reobf.jar/\1/p')"

      - name: Publish JAR as Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version.outputs.version }}  # Specify the tag name for the release
          release_name: Release v${{ steps.version.outputs.version }}  # Specify the release name
          draft: false
          prerelease: false
          files: |
            ${{ steps.jar_name.outputs.jar_name }}