name: Create Paperclip Release
on:
  push:
    branches:
      - 'ver/1.20'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[release-skip]')"
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'
          ref: 'ver/1.20'  # Specify the branch name
      - name: Configure Git
        run: git config --global user.email "no-reply@github.com" && git config --global user.name "Github Actions"

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Apply Patches
        run: ./gradlew applyPatches

      - name: Create Reobf Paperclip JAR
        run: ./gradlew createReobfPaperclipJar

      - name: Publish JAR as Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: EXP-1.20-Build-${{ github.run_number }}  # Generate tag name based on the run number
          name: 1.20 Build ${{ github.run_number }}  # Specify the release name
          draft: false
          prerelease: false
          files: build/libs/fork-paperclip-1.20-R0.1-SNAPSHOT-reobf.jar